/* ******************************************
 *******************************************
 *
 *
 *
 * This document contains all the
 * styling for the game.
 *
 *
 /*******************************************
 *******************************************
 *
 *
 * 00. common, reset css, colors  & JS Style
 * 01. sectons
 * 02.
 * 03.
 * 04.
 * 05.
 *
/*****************************
 *   00. common & reset css
 *****************************
 *
 */
////-----Reset-----

* {
    padding:0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*****************************
 *   00. sections
 *****************************
 *
 */

ul {
    list-style: none;
    text-align: center;
}

#user-location-selection-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#seleciton-container {
    display: flex;
    flex-direction: row;
}

#current-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#seven-days-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seven-day-conditions-container {
    padding: 1rem;
    margin: 1rem;
    color: white;
    background: grey;
}


////Desktop View
@media (min-width:768px){
    #seven-days-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


.seven-day-conditions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}