/* ******************************************
 *******************************************
 *
 *
 *
 * This document contains all the
 * styling for the game.
 *
 *
 /*******************************************
 *******************************************
 *
 *
 * 00. common, reset css, colors  & JS Style
 * 01. Rest of app syling
 *
 *
/*****************************
 *   00. common & reset css
 *****************************
 *
 */
////-----Colors-----
$light-yellow-A:#FBD5A6;
$dark-purple-A: #2d217de3;
$dark-purple-B: #1E1D41;
$light-purple-A: #917FD5;
$light-purple-B: #795CED;
$light-red-A:#BF2D74;
$light-red-B:#761A65;
$light-blue-A:#7AD8FE;
$light-blue-B:#4DB5DF;

////-----Reset-----
* {
    font-family: 'Nunito', sans-serif;
    padding:0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    // height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
}

input[type="text"], textarea, option, select, button {
    background-color : $light-blue-B;
    border: $light-red-A 1px solid;
    padding: .2rem;
    margin: .6rem;
    border-radius: 8px;
  }

/*****************************
 *   01. Rest of app syling
 *****************************
 *
 */
.day-text {
    color: $light-red-A;
}

.main-weather-icon {
    width: 5rem;
}

.weather-icons{
    display: flex;
    width: 2.5rem;
}

.attribute {
    color:$light-red-B;
    opacity: 40%;
    font-size: 9px;
}

#current-day {
    width: 80%;
}

#user-location-selection-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#current-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $light-red-A;

}
////helps control the picture for night and day postion
#current-data-pic {
    background-size: contain;
    width: 30rem;
    height: 30rem;
}

#current-temp {
    font-size: 2rem;
}

#conditions-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#conditions-div p {
    width: 30%;
}

#current-weather-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#current-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light-red-A;
    width: 15rem;
}


#seven-days-section {
    display: flex;
    flex-direction: row-reverse;////have to reverse flex
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 2s;
}

.seven-day-conditions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3.5rem;
    height: 9rem;
    margin: 2px;
    background: $dark-purple-A;
    border: 1px solid $light-red-B;
    border-radius: 8px;
}

.seven-day-conditions-container h1 {
    font-size: 1rem;
    font-weight: 500;
}

.seven-day-conditions-container h2 {
    font-size: .9rem;
}
.sev-dy-txt {
    font-size: .65rem;
}



////Tablet View
@media (min-width:500px){
    #seven-days-section {
        display: flex;
        flex-direction: row-reverse;////have to reverse flex
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        // margin: 12rem 0 0 0;
    }

    .seven-day-conditions-container {
        width: 5.5rem;
        height: 11rem;
        margin: 1% 5%;
        background: $dark-purple-A;
        border: 1px solid $light-red-B;
    }

    .seven-day-conditions-container h1 {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .seven-day-conditions-container h2 {
        font-size: 1rem;
    }
}
////More Tablets and Smaller Desktop View
@media (min-width:768px){
    .seven-day-conditions-container {
        width: 7.5rem;
        height: 11rem;
        margin: .5%;
        background: $dark-purple-A;
        border: 1px solid $light-red-B;
    }

    .seven-day-conditions-container h1 {
        font-size: 2rem;
        font-weight: 500;
    }

    .seven-day-conditions-container h2 {
        font-size: 1.5rem;
    }
}

////Desktop View
@media (min-width:950px){
    .seven-day-conditions-container {
        width: 9rem;
        height: 9rem;
        margin: .5%;
        background: $dark-purple-A;
        border: 1px solid $light-red-B;
    }
}

