/* ******************************************
 *******************************************
 *
 *
 *
 * This document contains all the
 * styling for the game.
 *
 *
 /*******************************************
 *******************************************
 *
 *
 * 00. common, reset css, colors  & JS Style
 * 01. Rest of app syling
 *
 *
/*****************************
 *   00. common & reset css
 *****************************
 *
 */
* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

input[type="text"], textarea, option, select, button {
  background-color: #4DB5DF;
  border: #BF2D74 1px solid;
  padding: .2rem;
  margin: .6rem;
  border-radius: 8px;
}

/*****************************
 *   01. Rest of app syling
 *****************************
 *
 */
.day-text {
  color: #BF2D74;
}

.main-weather-icon {
  width: 5rem;
}

.weather-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
}

.attribute {
  color: #761A65;
  opacity: 40%;
  font-size: 9px;
}

#current-day {
  width: 80%;
}

#user-location-selection-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#current-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #BF2D74;
}

#current-temp {
  font-size: 2rem;
}

#conditions-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#conditions-div p {
  width: 30%;
}

#current-weather-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#current-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #BF2D74;
  width: 15rem;
}

#seven-days-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem 0 0 0;
}

.seven-day-conditions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 3.5rem;
  height: 9rem;
  margin: 5px;
  background: #2E217D;
  border: 1px solid #761A65;
  border-radius: 8px;
}

.seven-day-conditions-container h1 {
  font-size: 1rem;
  font-weight: 500;
}

.seven-day-conditions-container h2 {
  font-size: .9rem;
}

.sev-dy-txt {
  font-size: .65rem;
}

@media (min-width: 500px) {
  #seven-days-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 12rem 0 0 0;
  }
  .seven-day-conditions-container {
    width: 5.5rem;
    height: 11rem;
    margin: 8px;
    background: #2E217D;
    border: 1px solid #761A65;
  }
  .seven-day-conditions-container h1 {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .seven-day-conditions-container h2 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  #seven-days-section {
    margin: 22.5rem 0 0 0;
  }
  .seven-day-conditions-container {
    width: 7.5rem;
    height: 11rem;
    margin: 14px;
    background: #2E217D;
    border: 1px solid #761A65;
  }
  .seven-day-conditions-container h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .seven-day-conditions-container h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 950px) {
  .seven-day-conditions-container {
    width: 9rem;
    height: 9rem;
    margin: 20px;
    background: #2E217D;
    border: 1px solid #761A65;
  }
  #seven-days-section {
    margin: 30rem 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */